.header{
  background-color: skyblue;
  padding: 15px;
  text-align: center;
}

.cards-form{
  margin-top: 13%;
  margin-left: 5%;
  text-align: center;
}

.form-group{
  padding: 5px;
}

.btn{
  border-radius: 13px;
  margin-top: 8px;
  margin-left: 20%;
}
label{
  margin: 19px;
}

.newuser{
  margin-left: 15%;
}

